{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<div class="row justify-content-evenly mt-5" >
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'person' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'total_students' %}">ESTUDIANTES</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'people-fill' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'total_groups' %}">GRUPOS</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'journal-plus' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'upload_grades' %}">CALIFICACIONES</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
