{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<br>

<div class="row justify-content-evenly mt-5" >
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'people-fill' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'total_groups_admin' %}">GRUPOS</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'person' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'subjects_admin' %}">MATERIAS</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'people-fill' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'total_students_admin' %}">ALUMNOS</a>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-evenly mt-5" >
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'journal-plus' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'school_record_admin' %}">REGISTRO DE PERIODO</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="card column card-menu">
            <div class="card-body" style="text-align:center;">
                <div>
                    {% bs_icon 'journal-plus' size='3em' color='white' extra_classes="square" %}
                </div>
                <br>
                <a class="card-title text-center stretched-link card-menu-text" href="{% url 'users_admin' %}">USUARIOS</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
