{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<br>

<div style="padding-bottom: 35px">
    <p><b>Nombre completo: </b>{{ student.fullname }}</p>
    <p><b>Grado: </b> {{ student.group.grade }}</p>
    <p><b>Grupo: </b> {{ student.group.group }}</p>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Materia</th>
                <th scope="col">Trimestre 1</th>
                <th scope="col">Trimestre 2</th>
                <th scope="col">Trimestre 3</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.subject.subject }}</td>
                    <td>{{ note.first_trimester }}</td>
                    <td>{{ note.second_trimester }}</td>
                    <td>{{ note.third_trimester }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
