{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<br>

<h3 style="">Administrador de materias</h3>
<div class="col d-flex" style="padding-bottom: 35px; margin-top:60px; justify-content: space-between">
    <div>
        <button type="button" class="btn" style="background-color:#7B36E1; color: white;">Agregar</button>
    </div>

    <div>
        <button type="button" class="btn" style="background-color:#7B36E1; color: white;">Guardar</button>
    </div>
</div>
<div class="col d-flex" style="padding-bottom: 35px">
    <form method="get" >
        <div class="row">
            {% for fm in subject_filter.form %}
            <div class="col-6">
                <label >{{fm.label}}</label>
                {{fm}}
            </div>
            {% endfor %}
        </div>
        <br>
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </form>
</div>
<table class="table table-hover" style="margin-top: 60px">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Materia</th>
            <th scope="col">Profesor</th>
            <th scope="col">Modificar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.subject }}</td>
                <td>{{ subject.teacher.get_full_name }}</td>
                <td><button type="button" class="btn btn-outline-primary">Modificar</button></td>
                <td><button type="button" class="btn btn-outline-danger">Eliminar</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
