{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<br>

<div style="padding: 20px 75px;">
    <div class="col d-flex" style="padding-bottom: 35px; justify-content: space-between">
        <h3>Grupos</h3>
        <div>
            <button type="button" class="btn" style="background-color:#7B36E1; color: white;">Agregar grupo</button>
        </div>
    </div>
</div>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% if groups %}
        {% for group in groups %}
            <div class="card" style="width: 30rem; margin: 5rem; ">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ group.grade }} {{ group.group }}
                    </h4>
                </div>
                <button type="button" class="btn" style="background-color:#7B36E1; color: white;">Eliminar grupo</button>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
