{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<br>

<h3 style="padding-right: 100px; margin-right: 250px">Calificaciones Trimestre 1</h3>

<div class="col d-flex" style="padding-bottom: 35px">
    <div class="dropdown" style="margin-right: 100px;">
        <button class="btn dropdown-toggle dropdown-style" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Materia
        </button>
    </div>
    <div class="dropdown">
        <button class="btn dropdown-toggle dropdown-style"type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grupo
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-save">Guardar</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre completo</th>
            <th scope="col">Materia</th>
            <th scope="col">Grupo</th>
            <th scope="col">Calificación</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hector Ballester</td>
            <td>Matemáticas 1</td>
            <td>Primero A</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Itziar Caceres</td>
            <td>Matemáticas 2</td>
            <td>Segundo B</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Marian Valdivia</td>
            <td>Matemáticas 3</td>
            <td>Tercerto A</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Hector Velga</td>
            <td>Matemáticas 1</td>
            <td>Primero B</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Marc Toledano</td>
            <td>Matemáticas 2</td>
            <td>Segundo B</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Josefa Maria Salinas</td>
            <td>Matemáticas 3</td>
            <td>Tercerto A</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Joaquin Piqueras</td>
            <td>Matemáticas 1</td>
            <td>Primero B</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Yanira Gisbert</td>
            <td>Matemáticas 2</td>
            <td>Segundo B</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
        <tr>
            <td>Hicham Sans</td>
            <td>Matemáticas 3</td>
            <td>Tercerto A</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Calificación">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div style="position:absolute; right: 70px;">
    <button type="button" class="btn btn-outline-success">Generar excel</button>
</div>

{% endblock %}
