{% extends 'teachers/main.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}

<br>

<h3 style="padding-right: 100px; margin-right: 250px">Calificación</h3>

<div class="col d-flex" style="padding-bottom: 35px">
    <form method="get" >
        <div class="row">
            {% for fm in subject_filter.form %}
            <div class="col-6">
                <label >{{fm.label}}</label>
                {{fm}}
            </div>
            {% endfor %}
        </div>
        <br>
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre completo</th>
            <th scope="col">Materia</th>
            <th scope="col">Grupo</th>
        </tr>
    </thead>
    <tbody>
       {% for subject in subjects %}
            {% for student in subject.students.all %}
                <tr>
                    <td>
                        <a href="{% url 'single_student_grade' student.id %}">{{ student.fullname }}</a>
                    </td>
                    <td>{{ student.group }}</td>
                    <td>{{ subject.subject }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
